

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.log-in-button {
    margin-left: 20px;
    width: 120px;
}

.login-button-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button-container div i{
    margin-right: 5px;
}

.login-button-container div p {
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: clip;
}