.main-nav{
    background-color: #319C1B;
    height: 80px;
    box-shadow: 1px 5px 30px rgb(173, 173, 173);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav img {
    height: 48px;
    margin-left: 10px;
}

.nav-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.nav-links-container a {
    color: #fff;
    text-decoration: none;
}

.cart-icon {
    margin-right: 20px;
}